html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Serif';
  font-size: 13pt;
  background-color: #efefef;
  padding: 10px;
  margin: 0;
}
h1 {
   font-size: 15pt;
   color: #008080;
   text-align: center;
   padding: 18px 0 18px 0;
   margin: 0 0 10px 0;
}
h1 span{
   border: 4px dashed #008080;
   padding: 10px;
}
p {
   padding: 0;
   margin: 0;
}
b {
  font-weight: bold
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
      
li .active {
  background-color: #008080;
  color: white;
}
      
li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

ul .navigation{
  list-style-type:none; 
  margin: 0; 
  padding: 0; 
  width: 25%; 
  background-color:#efefef; 
  position: fixed; 
  height: 100%; 
  overflow: auto;
}

.img-circle {
   border: 3px solid white;
   border-radius: 50%;
}
.section {
   background-color: #ffffff;
   padding: 15px;
   margin-bottom: 10px;
   border: 3px solid #008080;
   border-radius: 10px;
}
#header {
   background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fak6.picdn.net%2Fshutterstock%2Fvideos%2F12036866%2Fthumb%2F1.jpg&f=1);
   background-size: cover;
}

#header img {
   display: block;
   width: 80px;
   height: 80px;
   margin: auto;
}

#header p {
   font-size: 25pt;
   color: #f2f3f4;
   padding-top: 5px;
   margin: 0;
   font-weight: bold;
   text-align: center;
}
li {
   list-style-position: inside;
   margin-bottom: 15px;
   font-weight: bold;
}

.skills {
   list-style:square;
}
progress{
   width: 70%;
   height: 20px;
   color: #008080;
   background: #efefef;
   padding: 10px;
}

progress::-moz-progress-bar {
 background: #008080;
}

progress::-webkit-progress-value {
 background: #008080;
}

progress::-webkit-progress-bar {
 background: #008080;
}

iframe, audio {
   display: block;
   margin: 0 auto;
   border: 3px solid #008080;
}
hr {
   border: 0;
   height: 1px;
   background: #f36f48;
}
form {
   text-align: center;
   margin-top: 0;
}
.submit {
   background-color: #008080;
   padding: 12px 45px;
   border-radius: 5px;
   cursor: pointer;
   color: #ffffff;
   border: 2px double #efefef;
   outline: none;
   margin: 0;
   font-weight: bold;
}
.submit:hover {
   background-color: #005555;
}
textarea {
   height: 100px;
}
input, textarea {
   margin-bottom: 10px;
   font-size: 11pt;
   padding: 15px 10px 10px;
   border: 1px solid #cecece;
   background-color: #efefef;
   color: #787575;
   border-radius: 5px;
   width: 70%;
   outline: none;
}
#contacts img {
   height: 50px;
   width: 50px;
   margin-left: 7px;
   margin-right: 7px;
}
#contacts a {
   text-decoration: none;
}
#contacts img:hover {
   opacity: 0.8;
}
#contacts {
   text-align: center;
}
.copyright {
   font-size: 8pt;
   text-align: right;
   padding-bottom: 10px;
   color: grey;
}
